* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  font-size: 26px;
  box-sizing: content-box;
}

html, body {
  background-color: #2D2D2D;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.hidden {
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
}

.machine-root, .tape-root {
  padding: 10px;
  border: 1px solid #474747;
  border-radius: 10px;
  margin: 10px;
}

.machine-root *, .tape-root * {
  font-size: 20px;
}

.machine-states {
  display: flex;
  gap: 4px;
}

.machine-name, .tape-name {
  margin-bottom: 10px;
}

.tape-initial-state {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
}

.code-cell {
  font-family: consolas;
  min-width: calc(1ch + 8px) !important;
  min-height: 1ch !important;
  width: fit-content;
  border-radius: 4px;
  background-color: #1f1f1f;
  top: 4px;
  margin: 4px;
  color: white;
  display: inline-block;
}

.code-cell-text {
  font-family: consolas;
  font-weight: 300;
  margin: 4px;
}

.code-cell-text:empty {
  width: 100px !important;
}

.tape {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #474747;
  border-radius: 10px;
  line-height: 30px;
}

.tape-cell {
  font-family: consolas;
  margin: 2px;
  min-width: 16px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid #474747;
  border-radius: 4px;
}

/* As of now, only one machine is supported */
.tm-pointer-here {
  border-color: #50C878 !important;
}

.just-empty {
  margin-left: 4px;
}

.state-cell {
  display: flex;
  justify-content: center;
  border: 1px solid #474747;
  border-radius: 4px;
  line-height: 30px;
  padding: 0px 4px;
  display: flex;
  align-items: baseline;
}

.machine-states-header {
  line-height: 30px;  
}